@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/fog-3622519_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    color: #595959;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

li {    
    padding-left: 50px; 
 }

li > a {
    text-decoration: none;
    color: #595959;
    font-weight: 700;
    font-size: 16px;
    
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
}

.time,
.play,
.pause {
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time button {
    color: #595959;
    width: 30%;
    height: 10%;
    background: none;
    margin-bottom: 10px;
    border: 2px solid #2899c0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.time button:hover {
    background-color: #2899c0;
    color: #fff;
}